@import 'colors';

:host {
    width: 100%;
    display: flex;
    justify-content: center;
}

section {
    margin-top: 1.5rem;
    width: 50%;

    span {
        color: map-get($primary, 500);
        font-weight: 600;
    }
}

@media all and (max-width: 700px) {
    section {
        width: 90%;
    }

}