@use '@angular/material' as mat;
@import 'colors';
@include mat.core();

$TweetManagerSPA-primary: mat.define-palette($primary);
$TweetManagerSPA-accent: mat.define-palette($secondary, A200, A100, A400);

$TweetManagerSPA-warn: mat.define-palette(mat.$red-palette);

$TweetManagerSPA-theme: mat.define-light-theme((color: (primary: $TweetManagerSPA-primary,
        accent: $TweetManagerSPA-accent,
        warn: $TweetManagerSPA-warn,
      )));

@include mat.all-component-themes($TweetManagerSPA-theme);


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}